.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 10;
    border-bottom: 4px dotted rgb(88,88,188);
    background-color: rgb(0,0,0,.15);
}

.logo {
max-width: 90px;
max-height: 90px;
}

.header-bg{
    background-color: rgba(0,0,0,0.85);
    transition: 0.5s;
}

.nav-menu{
    display: flex;
}

.nav-menu li{
    padding: 0 1rem;
    margin-top: 5px;
}

.nav-menu li a{
    font-size: 2.0rem;
    font-weight: 500;
    color:crimson;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.header h1 {
    color: rgb(88, 88, 188);
    margin-right: 35rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.0rem;
    position: relative;
    font-style: italic;
}

.header-bg h1{
    color: green;
    font-style: italic;
    font-family: fantasy;
    font-size:xx-large;   
}

.hamburger{
    display: none;
}

.titleLine {
    background-color: green;
    width: 100%;
    height: 1px;
    border-top: 10px dotted black;
    line-height: 80%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.titleLine2 {
    background-color: green;
    width: 100%;
    height: 1px;
    border-top: 10px dotted black;
    line-height: 80%;
    margin-bottom: 0;
    padding-bottom: 0;
}

@media screen and (max-width: 1040px){
    .nav-menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.9);
        position: fixed;
        top: 0;
        left: -100%;
        z-index: -3;
        transition: 0.3s;
    }

    .header h1 {
        color: rgb(88, 88, 188);
        margin-right: 3.0rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.25rem;
        position: relative;
        font-style: italic;
    }

    .nav-menu.active{
        left: 0;
    }

    .nav-menu li{
        padding: 1rem 0;
    }

    .nav-menu li a {
        font-size: 2rem;
    }

    .hamburger{
        display: initial;
    }
}